* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open-sans, Roboto;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    flex-direction: row-reverse;
}

main {
    display: flex;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: #464646;
    flex-wrap: wrap;
}

.container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.child {
    height: 152px;
    color: white;
    background-color: #7c7c7c;
    position: relative;
}

.immagine {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.scritta {
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: #464646a4;
}

.fa-angle-up {
    font-size: small;
    padding-top: 13px;
}

.app-nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    flex-wrap: wrap;
}
.app-nav li {
    text-align: center;
    color: white;
    font-size: 14px;
}
.app-nav li.active, .app-nav li:hover {
    color: rgb(5, 163, 0);
}
.app-nav li i {
    display: block;
    margin-bottom: 4px;
    font-size: 22px;
}

.menu-left ul {
    display: flex;
    list-style: none;
    gap: 35px;
}
.menu-left li {
    text-align: center;
    color: white;
    font-size: 14px;
}
.menu-left li i {
    display: block;
    margin-bottom: 4px;
    font-size: 22px;
}
.menu-left li:hover {
    color: rgb(5, 163, 0);
}

.menu-right {
    display: flex;
    background-color: #7c7c7c;
}
h4 {
    color: rgb(145, 0, 0);
    display: flex;
    align-items: center;
}

button {
    color: white;
    background-color: #464646;
}